body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    text-align: center;
    margin-top: 80px;
}

h1 {
    font-size: 32px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}
